<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

    </div>
        <p>Post by {{pc_name}}</p>
        <p>Mood {{pc_text}}</p>
        <p>{{pc_time}}</p>
    </div>

    <form action="/comment_under_comment/{{parent_uid_comment}}/{{parent_comment_no}}" method='post'>
        <textarea name="text"
        rows="6"
        cols="40"
        required>
        </textarea>
        <button >comment</button>
    </form>




    {% for uid_comment, comment_no, time, text in comments %}
    </div>
        <p>Posted by {{uid_comment}}</p>
        <p>{{text}}</p>
        <p>{{time}}</p>
        <form action="/comment/{{uid_comment}}/{{comment_no}}" method='get'>
            <button >details & comment</button>
        </form>
        <select>
            <option>mood</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
        <form action="/" method='get'>
            <button >express</button>
        </form>
        <form action="/to_user_profile/{{uid_comment}}" method='get'>
            <button >profile</button>
        </form>
    </div>
    {% endfor %}

</body>


</html>