<html>
  <style>
    body{ 
                font-size: 15pt;
                font-family: arial;
                background-color: aliceblue;
            }
    button {
      background-color: #04aa6d;
      color: white;
      padding: 14px 14px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 10%;
    }
  </style>


<body>


  <form action="/home" method='get'>
    <button type="submit", class="left-button">Go to Home</button>
  </form>

  <h1>You are following...</h1>
  
  <div>
    {% for user, uid, active in following %}
    <div>{{user}} : {{active}}</div>
    <form action=/to_user_profile/{{uid}} method='get'>
      <button type='submit'>See Profile</button>
    </form>

    {% endfor %}
  </div>

<!-- <p><a href="follow_page">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>
