<html>
  <style>
    body{ 
                font-size: 15pt;
                font-family: arial;
                background-color: aliceblue;
            }
  </style>


<body>
  <h1>Group Page</h1>

  <form action="/home" method='get'>
    <button type="submit", class="left-button">Go to Home</button>
  </form>

  <div>
    {% for name, type in group_info %}
    <div>Group Name : {{name}}</div>
    <div>Type : {{type}}</div>
    {% endfor %}
  </div>
  <br />

  <form action="/quit_group/{{gid}}" method ='get'>
    <button>Quit Group</button>
  </form>
  
  <br />
  <form action="/group_posting_page/{{gid}}" method='post'>
    <button>New Post</button>
  </form>
  
  <br />
 
    {% for time, text, url, uid, post_no, mood_counts in group_post %}
    </div class = 'float'>
    <img src={{url}} alt=“image_error”>
    <p>{{text}}</p>
    <p>{{time}}</p>
     {% for r_mood, count in mood_counts %}
       <p>responses_mood : {{r_mood}}, {{count}}</p>
     {% endfor %}
    <form action="/post2/{{uid}}/{{post_no}}" method='get'>
       <button >details & comment</button>
    </form>
    <form action="/response_to_post/{{uid}}/{{post_no}}" method='post'>
    <select name="mood_selected">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
   </select>
       <button >express</button>
   </form>
   <form action="/delete_post/{{uid}}/{{post_no}}" method='post'>
    <button >delete</button>
 </form>

   
   <br>
    <br>
    <br>
  </div>
{% endfor %}




