<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Group Page</h1>

  <form action="/home" method='get'>
    <button type="submit", class="left-button">Go to Home</button>
  </form>

  <div>
    {% for name, type in group_info %}
    <div>Group Name : {{name}}</div>
    <div>Type : {{type}}</div>
    {% endfor %}
  </div>
  <br />
  <form action="/group_posting_page/{{gid}}" method='post'>
    <button>New Post</button>
  </form>
  
  <br />
  <div>
    {% for time, text, url in group_post %}
    <br />
    <div>Posted when {{time}}</div>
    <div>{{url}}</div>
    <div>{{text}}</div>
    <form action="/" method='get'>
      <button >comment</button>
    </form>
    {% endfor %}
  </div>