<html>
  <style>
    body{ 
                font-size: 15pt;
                font-family: arial;
                background-color: aliceblue;
            }
    button {
        background-color: #04aa6d;
        color: white;
        padding: 10px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
    }
  </style>


<body>
  <h1>Posting Group Post</h1>
  <form action="/group_page/{{group_info}}" method='get'>
    <button type="submit", class="left-button">Back to group</button>
  </form>

  <form action="/create_group_post/{{group_info}}" method="post">
    <!-- <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar" />
    </div> -->

    <div class="container">
        <label for="text"><b>text</b></label>
        <textarea name="text"
        rows="6"
        cols="40"
        maxlength="180"
        required></textarea>

        <label for="image"><b>image</b></label>
        <input
            type="text"
            placeholder="Image url"
            name="image"
            maxlength="90"
            minlength="10"
            required
        />

        

        <button type="submit">POST</button>
        <!-- <label>
            <input type="checkbox" checked="checked" name="remember" />
            Remember me
        </label> -->
    </div>

    <!-- <div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
  </form>


</body>


</html>
