<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    button {
        background-color: #04aa6d;
        color: white;
        padding: 10px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
    }
  </style>


<body>
  
  <form action="/home" method='get'>
    <button type="submit", class="left-button">Go to Home</button>
  </form>

  <h1>Posting Personal Mood</h1>


  <form action="/create_personal_post" method="post">
    <!-- <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar" />
    </div> -->

    <div class="container">
        <label for="mood"><b>mood</b></label>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
      </select>

        <label for="longitude"><b>longitude</b></label>
        <input
            type="text"
            placeholder="Enter longitude of current location"
            name="longitude"
            required
        />

        <label for="latitude"><b>latitude</b></label>
        <input
            type="text"
            placeholder="Enter latitude of current location"
            name="latitude"
            required
        />

        <button type="submit">POST</button>
        <!-- <label>
            <input type="checkbox" checked="checked" name="remember" />
            Remember me
        </label> -->
    </div>

    <!-- <div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
  </form>

  
  <p>Click the button to get your coordinates.</p>
  <button onclick="getLocation()">Try It</button>
  <p id="demo">dd</p>

  <!-- <script>
    var x = document.getElementById("demo");
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        alert( 'getLication!' );

      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
        alert( 'not support!' );
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude;
    }
    </script> -->


</body>


</html>
