<html>
    <style>
    body{ 
                font-size: 15pt;
                font-family: arial;
                background-color: aliceblue;
            }
        .left-button {
            background-color: #04aa6d;
            color: white;
            padding: 10px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
    }
    </style>

    <body>
      <form action="/home" method='get'>
        <button type="submit", class="left-button">Go to Home</button>
      </form>

        <form action="/create_personal_post" method="post">
            <label for="mood"><b>mood</b></label>
            <select name="mood">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <label for="longitude"><b>longitude</b></label>
            <input
                id="longitude_input"
                type="number"
                placeholder="Enter longitude of current location"
                name="longitude"
                max="180"
                min="-180"
                step="0.0001"
                value="-73.9607"
                
                required
            />

            <label for="latitude"><b>latitude</b></label>
            <input
                id="latitude_input"
                type="number"
                placeholder="Enter latitude of current location"
                name="latitude"
                max="90"
                min="-90"
                step="0.0001"
                value="40.8066"
                required
            />

            <button type="submit">POST</button>
        </form>

        <button onclick="getLocation()">locate me</button>

        <script>
            var lo = document.getElementById("longitude_input");
            var la = document.getElementById("latitude_input");

            function getLocation() {
                if (navigator.geolocation) {
                    alert("wait a sec");
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    alert("not support");
                    // x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                la.value = position.coords.latitude;
                lo.value = position.coords.longitude;
                //   x.innerHTML = "Latitude: " + position.coords.latitude +
                //   "<br>Longitude: " + position.coords.longitude;
            }
        </script>
    </body>
</html>
