<html>
  <style>
    body{ 
                font-size: 15pt;
                font-family: arial;
                background-color: aliceblue;
            }
    .left-button {
            background-color: #04aa6d;
            color: white;
            padding: 10px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
        }
  </style>


<body>
    <form action="/home" method='get'>
      <button type="submit", class="left-button">Go to Home</button>
    </form>

    </div>
    <p>Post by {{pp_name}} ({{pp_uid}})</p>
    <p>Mood {{pp_mood}}</p>
    <p>Post No {{pp_post_no}}</p>
    <p>{{pp_time}}</p>
    </div>


    <form action="/comment_under_posts/{{uid}}/{{post_no}}" method='post'>
        <textarea name="text"
        rows="6"
        cols="40"
        required>
        </textarea>
        <button >comment</button>
    </form>




    {% for uid_comment, comment_no, time, text, name, mood_counts in comments %}
    </div>
        <p>Posted by {{name}} ({{uid_comment}})</p>
        <p>{{text}}</p>
        <p>{{time}}</p>
        {% for r_mood, count in mood_counts %}
        <p>responses_mood : {{r_mood}}, {{count}}</p>
        {% endfor %}
        <form action="/comment/{{uid_comment}}/{{comment_no}}" method='get'>
            <button >details & comment</button>
        </form>
        <form action="/response_to_comment/{{uid_comment}}/{{comment_no}}" method='post'>
            <select name="mood_selected">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
                <button >express</button>
         </form>
        <form action="/to_user_profile/{{uid_comment}}" method='get'>
            <button >profile</button>
        </form>
        <form action="/delete_comment/{{uid_comment}}/{{comment_no}}" method='post'>
            <button >delete</button>
         </form>
    </div>
    {% endfor %}

</body>


</html>