<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .left-button {
            background-color: #04aa6d;
            color: white;
            padding: 10px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
    }
  </style>


<body>

  <form action="/home" method='get'>
    <button type="submit", class="left-button">Go to Home</button>
  </form>
  
  <h1>Recent Posts</h1>

  <div>
    {% for uid, mood, post_no, time in personal_post %}
    <div>Posted by : {{uid}}</div>
    <div>sted when : {{time}}</div>
    <div>Mood : {{mood}}</div>
    <form action=/to_user_profile2/{{uid}} method='get'>
      <button type='submit'>See Profile</button>
    </form>
    {% endfor %}
  </div>
  <br />

  <br />
  <div>
    {% for time, text, url, group_id in group_post %}
    <br />
    <div>Posted when {{time}}</div>
    <div>{{url}}</div>
    <div>{{text}}</div>
    <form action=/join_group/{{group_id}} method='get'>
      <button type='submit'>Join Group</button>
    </form>
    {% endfor %}
  </div>