<html>
  <style>
    body{ 
                font-size: 15pt;
                font-family: arial;
                background-color: aliceblue;
            }
    button {
        background-color: #04aa6d;
        color: white;
        padding: 10px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
    }

  </style>


<body>
  <h1>Type your Information</h1>



  <form action="/" method="get">
    <button type="submit" , class="left-button">Back to Login</button>
    </form>

  <form action="/create_account" method="post">
    <!-- <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar" />
    </div> -->


    <div class="container">
        <label for="name"><b>Name</b></label>
        <input
            type="text"
            placeholder="Enter Username"
            name="name"
            maxlength="15"
            required
        />

        <label for="email"><b>Email</b></label>
        <input
            type="text"
            placeholder="Enter email address"
            name="email"
            maxlength="30"
            required
        />
        <label for="password"><b>Password</b></label>
        <input
            type="password"
            placeholder="Enter Password"
            name="password"
            maxlength="45"
            required
        />

        <button type="submit">SIGN IN</button>
        <!-- <label>
            <input type="checkbox" checked="checked" name="remember" />
            Remember me
        </label> -->
    </div>

    <!-- <div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
  </form>


</body>


</html>

