<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    button {
            background-color: #04aa6d;
            color: white;
            padding: 10px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
        }
  </style>


<body>
  <form action="/home" method='get'>
    <button type="submit", class="left-button">Go to Home</button>
  </form>
  <h1>Profile</h1>

  <div>
    {% for name, email, mood, uid in profile %}
    <div>Name : {{name}}</div>
    <div>Email : {{email}}</div>
    <div>Mood : {{mood}}</div>
    <br />
    <form action="/follow/{{uid}}" method='post'>
      <button type='submit'>follow</button>
    </form>
    {% endfor %}
  </div>



  <br />
  <div>
    {% for time, longitude, latitude, mood in posts %}
    <br />
    <div>Posted at  ({{longitude}},{{latitude}})  when {{time}}</div>
    <div>Mood at the moment : {{mood}}</div>
    {% endfor %}
  </div>

<!-- <p><a href="follow_page">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>